:root {
    --primary-text-color: #212121;
    --accent-color: #2196F3;
    --title-text-color: #757575;
    --primary-background-color: #E5E5E5;
    --section-color: #2F303A;
    --select-button-color: #F5F4FA;
    --color-social-network: #AFB1B8;
    --color-white: #ffffff;
    }

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

h1, 
h2, 
h3 {
    margin: 0px;
    padding: 0px;
}

img {
    display: block;
}

.container {
    margin: 0 auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    /* background-color: none;  */
}

.section {
    padding: 94px 0px;
    margin: 0px;
}

/* --------------Хедр--------------- */

.head-nav {
    display: flex;
    align-items: center;
}

.border {
    border-bottom: 1px solid #ECECEC;
}

/* -----------------Хедр-Логотип-----------------*/
.logo {
    margin: 0px;
    padding: 24 px 0px 25px;
    margin-right: 93px;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    }

.web {
    color: var(--accent-color);
}

/* -----------------Навигация----------------- */

.head {
    display: flex;
    align-items: center;
    /* padding: 24px 0px; */
}

.nav {
    display: flex;
    align-items: center;

    margin: 0px;
    padding: 0px;
}

.nav-link {
    position: relative;
    display: block;
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;

    padding: 28px 0px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}

.current::after {
    content: '';
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    position: absolute;
       
    border-radius: 2px;
    opacity: 1;
    display: block;  
    left: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus  {
    color: var(--accent-color);
}


.nav .nav-item + .nav-item {
    margin-left: 40px;
}


/******************** Хедр-контакты **************************/
.contact {
    display: flex;
    align-items: center;
    margin-left: auto;
}

/* .contact-item {
} */

.contact-item + .contact-item {
    margin-left: 50px;
}

.contact-link {
    display: flex;
    align-items: center;
    
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-icon {
    margin-right: 10px;
    fill: var(--title-text-color);

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} 

.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}

.contact-link:hover .contact-icon,
.contact-link:focus .contact-icon {
    fill: var(--accent-color);
}

/* ===========================Home page=========================== */

.overley {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ), url("../images/hero.jpg");
        
     background-repeat: no-repeat;
     background-position: center;
}

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-color: var(--section-color);
    color: var(--color-white);
}

.solution {
    margin: 0px;
    bottom: 0px;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-white);
}

.button {
    border: none;
    border-radius: 4px;
    height: 50px;
    width: 200px;

    background-color: var(--accent-color);
    color: var(--color-white);
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    cursor: pointer;
}  

.about {
    display: flex;
}

.article {
    width: 270px;
}

.about .article + .article {
    margin-left: 30px;
}

.card-icon {
    margin: 0px;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
       
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--select-button-color);
    border: none;
    border-radius: 4px;
}

.icon-article {
    margin: 0px;
    padding: 0px;
    border-radius: 4px;
}

.skills {
    margin-bottom: 10px;
   
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.content {
    margin: 0px;
    padding: 0px;
  
    color: var(--title-text-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.87;
}

.report {
    padding-bottom: 94px;
}

.text-report {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 00.03em;
    color: var(--primary-text-color);

    margin-bottom: 50px;
}

.photo {
    padding: 0px;
    margin: 0px;
}

.photo-report {
    display: flex;
    margin: 0px;
    padding: 0px;
        
    text-align: center;
}

.photo-report .case + .case {
    padding-left: 30px;
}

.case {
    margin: 0px;
    padding: 0px;    
    position: relative;
    display: flex;
    align-items:flex-end;
    justify-content: center;
}

.case-text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    
    line-height: 1.14;
    letter-spacing: 00.03em;
    color: var(--color-white);
    background-color: rgba(47, 48, 58, 0.8);
    padding: 27px 0px;
    
    width: 370px;
    position: absolute;
    margin: 0px;
}

.team {
    background-color: var(--select-button-color);
}

.team-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.team-list {
    display: flex;
}

.team-list .team-item + .team-item {
    margin-left: 30px;
}

.team-item {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-radius: 2px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 1px 1px rgba(0, 0, 0, 0.12);
}

.team-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--color-white);
}

.team-subtitles {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.16;
    letter-spacing: 00.03em;
    text-align: center;
}

.team-text {
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    margin-top: 16px;  
}

.social-item {
    width: 44px;
    height: 44px;
}

.social-item:not(:last-child) {
    margin-right: 10px;
}
    
.icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    
    width: 100%;
    height: 100%;    
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    fill: var(--color-social-network);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
    background-color: var(--accent-color);
}

.icon-link:hover .social-icon,
.icon-link:focus .social-icon {
    fill: #ffffff;
}

.icon-clients {
    display:flex;
    justify-content: center;
    align-items: center;
}

.icon-company {
}

.icon-company:not(:last-child) {
    margin-right: 30px;
} 


.icon-company-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-social-network);
    border-radius: 4px;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-company-link:hover,
.icon-company-link:focus{
    border: 1px solid var(--accent-color);
}

.icon-company-link:hover .icon-logo,
.icon-company-link:focus .icon-logo{
    fill: var(--accent-color);
}

.icon-logo {
    padding: 16px 32px;
    /* width: 170px;
    height:  92px; */
    width: 100%;
    height: 100%;
    fill: var(--color-social-network);
    border-color: 1px  var(--color-social-network);

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


/* ====Модальное окно=====Модальное окно=====Модальное окно======Модальное окно===== */

.backdrop {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events:none;
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;

    height: 581px;
    width: 528px;
    /* border: 1px solid #ffffff; */
    border-radius: 4px;
    background-color: #ffffff;
    padding: 40px;

    text-align: left;
    font-size: 14px;
}

.button-close {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--color-social-network);
    fill: #000;
    background: local;
    
    cursor: pointer;
        
}

.close-icon{
    position: absolute;
    width: 18px;
    height: 18px;
    transform: translate(-50%, -50%);
    fill: #000;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon:hover{
    fill: var(--accent-color);
}

/*------------------ форма заполнения ------------------*/
.title-form {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    text-align: center;

    margin: 0px 0px 12px;
    padding: 0px; 
}

.form-field input {
    padding-left: 42px;
    color: #000;
}

.form-name:focus-within .user-data{
   border-color: var(--accent-color);
   color: var(--accent-color);
}

.user-data:focus-within + .person-icon{
    fill: var(--accent-color);
}

.form-name:hover .label-item,
.form-name:hover .user-data,
.form-name:hover textarea{
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.form-name:hover .person-icon,
.form-name:hover .person-icon{
fill: var(--accent-color);
}

.form-name {
    display: flex;
    flex-direction: column;
    position: relative;

    /* margin-bottom: 10px; */

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:not(:last-child){
    margin-bottom: 10px;
}

.label-item{
    font-size: 12px;
    color: var(--title-text-color);
    margin-bottom: 4px;

    cursor: pointer;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.user-data{
    top: 0;
    left: 0;
    margin: 0px;
    padding: 0px;
    width: 448px;
    height: 40px;
    border: 1px solid var(--color-social-network);
    border-radius: 4px;

    cursor: pointer;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.person-icon{
    left: 14px;
    top: 50%;
    position: absolute;
    cursor: pointer;
    width: 18px;
    height: 18px;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-phone{
    position: relative;
}

.comment-area{
    padding: 12px 16px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 1px;
    border: 1px solid rgba(33, 33, 33, 0.2); 
    border-radius: 4px;

    height: 120px;
    width: 448px;
    resize: none;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-area::placeholder{
    color: rgba(117, 117, 117, 0.5);
}

.comment-area:hover{
    cursor: pointer;
    color: var(--accent-color);
}

fieldset{
    border: none;
    margin: 0px 0px 20px;
    padding: 0px;
}

.checkbox-item{
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px 0px 30px;
}

.check-input{
    position: absolute; 
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.check{
    display: flex;
    align-items: center;

    border: none;
    cursor: pointer;
}

.check-box{
    top: 0%;
    left: 0%;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;

    background-image: url(../images/off.svg);
}

.check-input:checked + .check-box{
  background-image: url(../images/on.svg);
  /* background-size: contain; */
  /* background-origin:border-box; */
  /* background-repeat: no-repeat; */
  /* border-color: var(--accent-color); */
}

.check-input:focus + .check-box{
    background-image: url(../images/off-focused.svg);
}

.check-input:focus:checked + .check-box{
    background-image: url(../images/on-focused.svg);
}




.check-text{
    margin-left: 8.38px;
    font-size: 14px;
    line-height: 142%;
    color: var(--title-text-color);
}

.checkbox-link{
    margin-left: 7px;
    font-size: 14px;
    line-height: 142%;
    color: var(--accent-color);
    text-decoration: underline;
}

.modal .button {
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translate(-50%, 0px);


    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 1px 3px rgba(0, 0, 0, 0.12);
}


/* ==============================Футер логотип========================= */

.footer {
    background-color: var(--section-color);
    padding: 60px 0px;
}

.footer-item {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

footer .second {
    color: var(--color-white);
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.footer-logo {
    margin-bottom: 20px;
}
.footer-area {
    margin-bottom: 9px;
}

.area {
    font-family: Roboto, sans-serif;
    color: var(--color-white);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    padding-bottom: 20px;
}

/*========================== Футер контакт============================== */
.logo-footer {
    display: block;
    margin-bottom: 20px;

    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.web {
    color: var(--accent-color);
}

.footer-contact .contact {
font-family: Roboto, sans-serif;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255,255, 0.6);
font-style: normal;
}

.footer-contact {
    display: block;
    margin-right: 70px;
} 

.socail-link {
    margin-right: 93px;
}

.accede {    
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--color-white);

    margin: 0px 0px 20px;
}

.footer-social {
    display: flex;
    justify-content: center;
}

.footer-link {
    width: 44px;
    height: 44px;
}

.footer-link:not(:last-child) {
    margin-right: 10px;
}

.footer-icon {
    fill: #ffffff;
}

.social-icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;  
}

.social-item {     
}

.footer-icon {
    fill: #ffffff;    
}


.social-icon-link {
    background-color: rgba(255, 255, 255, 0.1);

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item {    
}

.social-icon-link:hover .footer-icon,
.social-icon-link:focus .footer-icon {
    fill: #ffffff;
} 

.social-icon-link:hover,
.social-icon-link:focus {
    background-color: var(--accent-color);
}

.submit {
    display: block;
    width: 570px;
}

form input.accede{
    margin-top: 20px;
}

.submit-input{
    height: 50px;
    width: 353px;
    margin-right: 12px;
    margin-top: 20px;
    background-color:transparent;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.submit-input[placeholder]{
    padding-left: 16px;

    font-size: 16px;
    line-height: 1.25px;
    color: #ffffff;
}

.btn-sub{
    padding: 10px 62px 10px 29px;
    position: relative;
}

.submit-icon{
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-50%, -50%);
}


/*********************************** ПОРТФОЛИО ************************************/
.project {
    padding: 94px 0px;
}

.btn-group {
}

.btn {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.btn-select{
    
}

.btn-select .select:hover {
    background-color: var(--accent-color);
    color: var(--color-white);
}

.btn-select .select:focus {
    background-color: var(--accent-color);
    color: var(--color-white);
}

.btn-select .select:hover {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12),
                0px 1px 2px rgba(0, 0, 0, 0.8),
                0px 3px 1px rgba(0, 0, 0, 0.1);
}

.btn-select .select:focus {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12),
                0px 1px 2px rgba(0, 0, 0, 0.8),
                0px 3px 1px rgba(0, 0, 0, 0.1);
}

.select {
    border-radius: 4px;
    padding: 6px 22px;
    margin: 0px;
    outline: 0px;
    border-color: transparent; 

    font-family: Roboto, sans-serif;
    background-color: var(--select-button-color);
    text-transform:capitalize;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.products-box {
    margin-bottom: 30px;
    margin-right: 30px;
    width: 370px;
    border: 1px solid #EEEEEE;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.products-box:nth-child(3n) {
    margin-right: 0px;
}

.products-box:hover,
.products-box:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16),
                1px 4px 4px rgba(0, 0, 0, 0.06),
                1px 1px 1px rgba(0, 0, 0, 0.12);
    
}

.products-box:hover .text-box {
    transform: translateY(0%);
}

.thumb-box {
    position: relative;
    overflow: hidden;
}

.img {
    margin: 0px;
    padding: 0px;
}

.text-box {
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--color-white);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5555;
    margin: 0px;
    width: 100%;
    height: 100%;
    padding: 63px 24px 63px 24px;

    display: inline-block;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.description {
    padding: 20px 24px;

}

.link {
    margin: 0px;
    padding: 0px;
    margin-bottom: 4px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.box {
    margin: 0px;
    padding: 0px;
    
    Font-family: Roboto;
    color: var(--title-text-color);
}

.btn li:not(:last-child) {
    margin-right: 8px;
}

/************************* Фильтр портфолио ************************/
.stile {
    font-family: Roboto, sans-serif;
    text-transform: capitalize;
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
}

.low {
    text-transform: none;
}

/* Портфолио */
.product {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}  
